@font-face {
    font-family: "Winston";
    src: url("fonts/Winston-Regular.ttf");
}

@font-face {
    font-family: "Winston";
    src: url("fonts/Winston-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Winston";
    src: url("fonts/Winston-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Winston";
    src: url("fonts/Winston-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Winston", serif;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    max-width: 30%;
    min-height: calc(100vh - 173px - 95px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: #fff;
    text-decoration: none;
}

/* modal */

.close_button {
    position: absolute;
    background-color: #ae0f0f;
    border: none;
    left: 0;
    top: 0;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(8px);
    z-index: 100;

    border-radius: 12px;
}

.d-f {
    display: flex;
    gap: 8px;
}

.modalWrapper {
    position: relative;

    width: 50%;
    height: 50%;
    padding: 4%;
    background: rgba(0, 95, 182, 0.98);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header section */

header {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 25px;
    border-bottom: 1px solid #005fb6;
}

header > nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
}

header > nav > a {
    border: 1px solid #005fb6;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 18pt;
    font-weight: bold;
    background: rgba(75, 152, 224, 0.8);
    filter: drop-shadow(0 0 2px #005fb6);
    min-width: 150px;
    display: flex;
    justify-content: center;
}



.approve_button {
    background: rgba(108, 201, 15, 0.8);
    border: none;
}

.cancel_button {
    background: #ad0d0d;
    border: none;
}

header img {
    width: 250px;
    filter: drop-shadow(0 0 3px #005fb6);
}


/* employees */

.employees {
    width: 100vw;
    height: 100%;
}

.employeePhoto {
    width: 200px;
    height: auto;
    margin-bottom: 12px;
}

.employees > article {
    display: flex;
    flex: 1;
    padding: 15px 75px;
    border-bottom: 1px solid #005fb6;
}

.employees > article:last-child {
    margin-bottom: 50px;
}

.employees > article:nth-child(2n) {
    background-color: rgba(75, 152, 224, 0.8);
    color: white;
}

.employees > article > span {
    font-size: 18pt;
    display: flex;
    align-self: center;
    flex: 1;
}

.employees > article:first-child {
    font-weight: bold;
}


.employees > article > button {
    border: 1px solid #005fb6;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    color: #000;
    background: white;
    cursor: pointer;
    max-width: 200px;
}

.employees > article:nth-child(2n + 1) > button {
    border: 1px solid #005fb6;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
    color: white;
    background: #4B98E0E5;
    cursor: pointer;
}

.employees > article:first-child > button:last-child {
    background: rgba(108, 201, 15, 0.8);
    font-size: 28pt;
    font-style: normal;
    padding: 2px 55px;
}

.working {
    text-shadow: 0 0 5px #5bac10;
}

.fired {
    text-shadow: 0 0 5px #ad0d0d;
}

/* shift */

.shift {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.shift > :first-child {
    position: fixed;
    right: 10rem;
    bottom: 100px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #005fb6;
    padding: 25px;
    border: 1px solid #005fb6;
    border-radius: 5px;
    cursor: pointer;
}

.shift > article {
    margin: 1rem;
    background: #4B98E0E5;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shift > article > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: .3rem;
    font-size: 2rem;
}

.shift > article > p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.shift > article > button {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    border: 1px solid #005fb6;
    border-radius: 5px;
    cursor: pointer;
}

/* orders */

.orders {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.orders > :first-child {
    position: fixed;
    right: 10rem;
    bottom: 100px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #005fb6;
    padding: 25px;
    border: 1px solid #005fb6;
    border-radius: 5px;
    cursor: pointer;
}

.orders > article {
    margin: 1rem;
    background: #4B98E0E5;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orders > article > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: .3rem;
    font-size: 2rem;
}

.orders > article > p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.orders > article > button {
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    border: 1px solid #005fb6;
    border-radius: 5px;
    cursor: pointer;
}

/* modal */


h2, h3{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

form > div:last-child {
    justify-content: center;
}

form > h2, form label {
    color: white;
    font-weight: bold;
}

form > h2 {
    font-size: 24pt;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

form > div {
    display: flex;
    flex-direction: row;
    margin: 20px 25px;
    font-size: 16pt;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/*form label,*/
/*form input,*/
/*form select,*/
/*form button {*/
/*    display: flex;*/
/*    flex-grow: 1;*/
/*}*/

select, input {
    flex-basis: 250px;
}

form input, form select {
    font-size: inherit;
    border-radius: 5px;
    padding-left: 3px;
}

#photo_file {
    color: transparent;
}

#photo_file::-webkit-file-upload-button {
    visibility: hidden;
}

form > div:nth-child(5) {
    margin-bottom: 0;
}

form > div:nth-child(6) {
    margin-top: 0;
}

#photo_file:before {
    content: "Фото сотрудника";
    color: black;
    display: flex;
    justify-content: center;
    background: white;
    border: 2px solid #999;
    border-radius: 5px;
    padding: 3px 0;
    cursor: pointer;
}

button {
    padding: 10px 10px;
    margin: 15px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-size: inherit;
    cursor: pointer;
}

/* footer */

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px;
    font-size: 18pt;
    background: #005fb6;
}

footer > article {
    color: #fff;
}

footer > article:last-child {
    font-size: 36pt;
    font-weight: bold;
}
